@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



#nav_bar {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-left: 8vw;
  font-weight: 600;
}

#container_nav {
  display: flex;
  align-items: center;
}

#container_nav img {
  width: 75px;
  margin: 29px 0px 20px 45px;
}

body {
    width: 100%;
    height: 100vh;
    background: url('assets/img/FUNDO\ PÃGINA.png') no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-size: cover;
    font-family: "Poppins", sans-serif; 
    font-weight: 400;
    font-style: normal;
}

#nav_bar > p {
  padding: 0px 40px;
}


 #nav_bar a {
  color: black;
  text-decoration: none;

}

#nav_bar a:hover {
  color: brown;
}

#login_person {
  padding-left: 46vw;
}

#img_person #login_person{ 
  height: 50px;
}


@media screen and (max-width: 768px)  {
  body {
    background-image: none;
  }
  #container_nav {
    display: none;
  }

  .container_header {
    height: 42vh;
    width: 100vw;
    background-color: #f6eee8;
    color: #451a0e;
    border-radius: 0px 0px 47px 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 19px;
    gap: 75px;
    
  }

  #img_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    font-size: 19px;
    margin-top: 146px;
  }

  #div_busca {
    background-color: #f6eee8;
    border:solid 1px #451a0e;
    border-radius:15px;
    width:325px;
    height:28px;
  }

  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:7px;
    font-size:16px;
    border:none;
    height:28px;
    width:191px;
  }

  #div_busca img{
    float:left;
    width: 28px;
    padding-left: 6px;
  }

  #txtBusca::placeholder {
    color: #451a0e9a;
  }

  .container_body {
    height: 58vh;
    width: 100vw;
    margin: 60px 45px;
  }

  .container_body h2 {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 30px;
  }

  #nav_body button {
    margin-left: 10px;
  }

}