#nav_bar {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 35px 690px 35px 10px;
}
body {
  background-image: url("assets/img/FUNDO PÃGINA.png");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
}

#nav_bar > p {
  padding: 0px 15px;
}

img {
  width: 35px;
}

